body {
    background-color: rgb(104, 145, 151);
}

h1 {
    color: rgb(42, 69, 122);
    text-shadow: 1px 1px 1px black;
    font-family: sans-serif;
}

h3 {
    color: rgb(42, 69, 122);
    text-shadow: 1px 1px 2px black;
    font-family: sans-serif;
}

h4 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

ul {
    font-family: sans-serif;
}

table {
    font-family: sans-serif;
}

ol {
    font-family: sans-serif;
}

form {
    font-family: sans-serif;
}

hr {
    border-style: dotted none none;
    border-color: rgb(91, 117, 167);
    border-width: 3px;
    height: 0px;
    width: 90%;
}